@import 'bourbon';
@import url('https://fonts.googleapis.com/css?family=Lato:300|Poppins:400,500,600,700&display=swap');
@import './common.scss';

html, body {
    margin: 0;
    height: 100%;
}

.landing-logo {
    display: inline-block;
    padding-top: .6rem;
    padding-left: .6rem;
}

.landing-body {
    background-color: transparent;
    padding-left: 6rem;
    font-family: Poppins;
    font-style: normal; 
    overflow: hidden;
}

.landing-content {
    margin-top: 10%;
    width: 45%;
    h1 {
        position: relative;
        font-weight: 600;
        font-size: calc(1em + 2vw);
        color: #070D58;
    }
    p {
        width: 80%;
        position: relative;
        font-family: Lato;
        font-size: calc(.5em + 1vw);
        margin-top: 1rem;
        line-height: 3rem;
        color: #2B2B2B;
    }
}

.bgImage {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: auto;
    margin-right: -70px;
    z-index: -1;
}

.search-form {
    display: relative;
    margin-top: calc(2em + 2vw);
}

.city-input,
.dist-input {
    width: calc(1em + 15vw);
    height: calc(1em + 2vw);
    display: inline;
    padding-left: 5px;
    margin-right: 1rem;
}

.dist-input {
    width: 8vw;
}

.btn-primary {
    background-color: #070D58;
    border-color: #070D58;
    height: 50px;
    width: 125px;
    font-size: 22px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #020851;
    border-color: #020851;
}


.search-form >.landing-btn {
    height: calc(1em + 1.5vw);
    font-size: calc(.4em + 1vw)
}

//Mobile Styles


@media (max-width: 1030px) {
    .landing-body {
        position: fixed;
        padding: 0;
    }
    .landing-content {
        padding: 20% 0;
        width: 80%;
        margin: 0 auto;
        h1, p {
            color: white;
        }
        h1 {
            font-size: 64px;
            text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
        }
        p {
            text-shadow: 0px 2px 1px rgba(0,0,0,0.6),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
            font-size: 28px;
            margin: 0;
        }
    }
    .landing-logo {
        margin-left: 10%;
    }
    .search-form {
        margin-top: 120px;
    }
    .dist-input,
    .city-input {
        height: 50px;
        font-size: 20px;
        float: left;
    }
    .dist-input {
        width: 110px;
    }
    .city-input {
        width: 250px;
    }
    .search-form > .landing-btn {
        height: 50px;
        font-size: 20px;
        background-color: #FF6807;
        border-color: #FF6807;
    }
}

@media (max-width: 500px) {
    .landing-body {
        padding-left: 0;
        text-align: center;
        line-height: 3em;
        overflow: hidden;
        position: fixed;
    }
    .landing-logo {
        margin-left: 0;
        padding: 0;
        padding-top: 5px;
    }
    .landing-content {
        margin: 0 auto;
        width: 90%;
        padding-top: 7%;
        h1 {
            font-size: 48px;
            color: white;
        }
        p {
            margin: 0 auto;
            font-size: 1.2rem;
            color: white;
            width: 90%;
        }
    .city-input,
    .dist-input,
    .landing-btn {
        height: auto;
        float: left;
        font-size: 16px;
    }
    .city-input {
        width: 130px;
    }
    .dist-input {
        width: 80px;
    }
    .search-form {
        margin-top: 50px;
    }
    .search-form > .landing-btn,
    .btn-primary {
        font-size:16px;
        width: 115px;
        height: 40px;
        background-color: #FF6807;
        border-color: #FF6807;
    }
    }
}
