.logo {
  background: -webkit-linear-gradient(90deg, #FF8007 0%, #FF4D08 104.44%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.logo {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem; }
  @media (max-width: 1200px) {
    .logo {
      font-size: calc(1.325rem + 0.9vw) ; } }
